streamlit
pytesseract
pillow
pdfplumber
fpdf
pandas
openpyxl
unicodedata2
matplotlib
seaborn
transformers
torch
sentencepiece
protobuf==3.20.1
pix2tex
opencv-python
scikit-image
sympy
einops
levenshtein
