streamlit==1.25.0
pix2tex==0.1.1
torch==1.11.0
transformers==4.19.0
pillow==9.5.0
opencv-python==4.7.0.72
pdfplumber==0.10.2
fpdf==1.7.2
pandas==1.5.3
openpyxl==3.1.2
unicodedata2==15.0.0
matplotlib==3.7.1
