streamlit==1.25.0
pytesseract==0.3.10
pillow==9.5.0
pdfplumber==0.10.2
fpdf==1.7.2
pandas==1.5.3
openpyxl==3.1.2
unicodedata2==15.0.0
matplotlib==3.7.1
seaborn==0.12.2
pix2tex==0.1.0
opencv-python==4.7.0.72
scikit-image==0.19.3
sympy==1.11.1
einops==0.4.1
torch==1.11.0
sentencepiece==0.1.96
protobuf==3.20.1
python-Levenshtein==0.12.2
